@use 'mixins' as *;
@use 'functions' as *;
@use 'base';
@use '_abstracts';

// BREAKPOINTS
$bp-1: 40em;

/*


#################
CUSTOM PROPERTIES
#################
*/

:root{
    @include customPropsGeneration;

    /* 
    Other properties 
    */
    --section-padding: var(--size-24);
    --box-shadow-1: 0 var(--size-10) var(--size-10) hsla(0, 0%, 0%, 10%);

    @include width-above($bp-1){
        --section-padding: var(--size-40);
    }
}
/*


##############
GENERAL STYLES
##############
*/
body{
    font-family: var(--ff-base);
    font-size: var(--fs-400);
}

main{
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--clr-neutral-400);
}
/*


###############
UTILITY CLASSES
###############
*/
@include utc-flex-center;
@include utc-grid;

.primary-heading{
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-400);

    @include width-above($bp-1){
        font-size: var(--fs-600);
    }
}
.secondary-heading{
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-100);
}
.button{
    height: var(--size-48);
    font-weight: var(--fw-bold);
    background-color: var(--clr-secondary-400);
    color: var(--clr-neutral-100);
    border-radius: var(--size-6);
    text-decoration: none;
    box-shadow: var(--box-shadow-1);

    @include hover{
        background-color: var(--clr-secondary-300);
    }
}
/*


#############
LAYOUT STYLES
#############
*/
.card{
    margin: toRem(72) var(--size-32);
    max-width: toRem(312);
    border-radius: var(--size-6);
    overflow: hidden;
    box-shadow: var(--box-shadow-1);

    @include width-above($bp-1){
        max-width: toRem(635);
        margin: var(--size-32);
        grid-template-columns: repeat(2, 1fr);
    }

    &__section{
        padding: var(--section-padding);
    }
}
/* 
Join our Community section 
*/
.join-section{
    background-color: var(--clr-neutral-100);

    @include width-above($bp-1){
        grid-column: 1/span 2;
    }

    &__title{
        margin: 0.4em 0 1.2em;

        @include width-above($bp-1){
            margin: 0 0 .7em;
        }
    }

    &__highlight{
        font-weight: var(--fw-bold);
        color: var(--clr-secondary-400);
        margin-bottom: 1.2em;

        @include width-above($bp-1){
            font-size: var(--fs-450);
            margin: 0 0 .4em;
        }
    }

    &__text{
        font-size: var(--fs-300);
        color: var(--clr-neutral-500);
        line-height: 1.8;
        margin-bottom: 1em;

        @include width-above($bp-1){
            font-size: var(--fs-400);
            margin-block: 0;
        }
    }    
}
/* 
Subscription Section
*/
.subscription-section{
    background-color: var(--clr-primary-400);
    
    &__title{
        margin-bottom: 1em;
    }

    &__price{
        justify-content: flex-start;
        color: var(--clr-neutral-300);
        margin-bottom: 0.4em;

        span{
            color: var(--clr-neutral-100);
            font-weight: var(--fw-bold);
            font-size: var(--fs-700);
            margin-right: var(--size-14);
        }
    }

    &__text{
        color: var(--clr-neutral-200);
        margin-bottom: 2em;
    }
}
/* 
Why Us Section 
*/
.why-us-section{
    background-color: var(--clr-primary-300);

    &__title{
        margin-bottom: 1em;
    }

    &__list{
        color: var(--clr-neutral-200);
        font-size: var(--fs-300);

        li{
            line-height: 1.5;
        }
    }
}