$colors: (
    primary: (
        100: 0,
        200: 0,
        300: hsl(179, 47%, 52%),
        400: hsl(179, 61%, 44%),
        500: 0,
        600: 0,
        700: 0,
        800: 0,
        900: 0
    ),
    secondary: (
        100: 0,
        200: 0,
        300: hsl(71, 75%, 66%),
        400: hsl(71, 73%, 54%),
        500: 0,
        600: 0,
        700: 0,
        800: 0,
        900: 0
    ),
    neutral: (
        100: hsl(0, 0%, 100%),
        200: hsla(0, 0%, 100%, 75%),
        300: hsla(0, 0%, 100%, 50%),
        400: hsl(204, 43%, 93%),
        500: hsl(218, 22%, 67%),
        600: 0,
        700: 0,
        800: 0,
        900: 0
    )
);